version: 1
validation: sovereign
accounts: 
- name: node
  coins:
  - 15000000000000uOPT
  mnemonic: slab cabbage degree mandate normal tunnel bean round betray display anxiety ginger
- name: alice
  coins:
  - 15000000000000uOPT
client:
  openapi:
    path: docs/static/openapi.yml
validators:
- name: node
  bonded: 50000000000uOPT
genesis:
  chain_id: optio-testnet
  app_state:
    staking:
      params:
        bond_denom: uOPT
    gov:
      params:
        expedited_min_deposit:
          - amount: "2000000"
            denom: uOPT
        expedited_voting_period: 119s
        min_deposit:
          - amount: "1000000"
            denom: uOPT
        voting_period: 120s
